body{
    background-color: rgb(189, 192, 189);
}

ul{
    list-style: none;
    
}

ul li{
    width: 400px;
    text-align: center;
    background-color: white;
    padding: 10px;
    margin-bottom: 30px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

header{
    text-align: center;
}
